// Fonts
$font-primary: 'Arial';

// Colors
$color-black: #000000;
$color-active: #F6A623;

// Responsive
$breakpoint-xxsmall: 320px;
$breakpoint-xsmall: 400px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1440px;
