.ws-sprint-select {

}

.ws-sprint-select-button {
  display: block;
  max-width: 200px;
  width: 100%;
  height: 200px;
  margin: 16px;
  padding: 16px;
  background-color: $color-active;
  border: 2px solid black;

  &--active {
    border: 2px solid $color-active;
  }

}
